# LaunchDarkly Configuration
VITE_LAUNCHDARKLY_CLIENT_ID=
project_key=dj-toggle
env_key=production
sdk_key=
client_side_key=
mobile_key=
metric=vote
api_key=
DJToggleAPIKey=

# Strudel Configuration
# URL to local samples directory (e.g., http://localhost:3000/samples/)
VITE_STRUDEL_SAMPLES_URL=
